.main_div{
    width: 100%;
    height: 100%;
    
    border: 1px solid black;
    background-color: white;
    box-shadow: 5px 8px grey;
    
/*    background-color: darkseagreen;*/
/*    background-image: url("http://openweathermap.org/img/w/01d.png");*/
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.info_div{
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}
.box{
    width: 100%;
    height: 300px;
    margin: auto;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    margin-bottom: 30px;
}
input{
    width: 65%;
    height: 40px;
    background-color: white;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
}
.input_class{
    margin-top: 20px;
    text-align: center;
}
/*
#tempMain{
    height: 100%;
}*/
