.main_div {
    width: 75%;
    height: 100%;

    background-color: white;
    box-shadow: 5px 8px grey;
    margin: auto;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
}

.h1_class {
    font-size: 100px;
    margin-top: 40px;
}

.h4_class {
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.input_btn {
    width: 80%;
    height: 100px;
    margin: auto;
    margin-bottom: 30px;
}

.input_class {
    width: 60%;
    height: 100px;
    background-color: white;
    text-align: center;
    margin: auto;
    border: 1px solid lightgrey;
    font-size: 40px;
    color: black;
}

.btn_class {
    width: 20%;
    height: 100px;
    background-color: lightgrey;
    text-align: center;
    margin: auto;
    font-size: 40px;
    color: black;
}

.info_div {
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;

}

.box {
    width: 100%;
    margin: auto;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    margin-bottom: 30px;
}




#tempMain {
    width: 75%;
    height: 100%;
    
    background-color: white;
    box-shadow: 5px 8px grey;
    margin: auto;
    margin-top: 20px;
/*    display: none;*/

}

.forecast_class {
    width: 75%;
    height: 100%;
    margin: auto;
    
    margin-top: 50px;
    margin-bottom: 50px;
    
    display: flex;
    flex-wrap: wrap;
    padding-top: 5px;
    padding-bottom: 5px;
}

.micro_div {
    width: 49.5%;
    height: 100%;
    margin: auto;
    margin-bottom: 11px;
    background-color: white;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    font-size: 30px;
    padding: 10px;
    box-shadow: 5px 8px grey;
}

.btn_micro_div {
    width: 50%;
    height: 50%;
    margin: auto;
    background-color: lightgrey;
    font-size: 40px;
    margin-bottom: 30px;
    margin-top: 20px;

}
.btn_details{
    width: 40%;
    height: 100px;
    margin: auto;
    background-color: lightgrey;
    font-size: 30px;
    margin-top: 30px;
}
.icon_forecast{
    width: 40%;
    margin: auto;
    margin-bottom: 20px;
}
.p_date{
    width: 80%;
    font-size: 40px;
    margin: auto;
    margin-bottom: 20px;
}
.p_name{
    width: 80%;
    font-size: 40px;
    font-weight: bold;
    border-bottom: 4px solid lightgrey;
    margin-top: 20px;
    margin-bottom: 20px;
}
.h4_forecast{
    width: 80%;
    font-size: 40px;
    font-weight: bold;
    margin: auto;
    margin-bottom: 20px;
    
}
.div_icontemp{
    width: 300px;
    height: 200px;
    padding-bottom: 0px;
}
